<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>INN Project</title>
    <!-- add icon link -->
    <link rel="icon" href="img/01.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="css/data.css">
    <link rel="stylesheet" href="css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
</head>

<body>

    <div class="content">
        <h3 class="topic">About US</h3>
    </div>
    <div  class="BGtxt">
        <div class="content">
            <p>The Inn Project is a newly built hotel with a modern style. Under the bright and warm atmosphere Suitable for
                a family vacation. And decoration that has a selection of materials And natural colors that help create a
                fresh and
                cool atmosphere Along with a large pool area Surrounded by tropical gardens and an amazingly beautiful
                waterfall, it also offers accommodation in a variety of styles. That all have a large living space that can
                provide maximum comfort</p>
            <!--อินน์โปรเจคเป็นโรงแรมที่สร้างขึ้นใหม่ด้วยสไตล์ที่ทันสมัย ภายใต้บรรยากาศที่สดใสและอบอุ่น เหมาะสำหรับเป็นสถานที่พักผ่อนของครอบครัว 
            และการตกแต่งนั้นมีการเลือกใช้วัสดุ และสีสันจากธรรมชาติที่ช่วยเสริมสร้างบรรยากาศให้สดชื่นร่มเย็น พร้อมด้วยพื้นที่บริเวณสระว่ายน้ำขนาดใหญ่ 
            ที่มีสวนป่าสไตล์ทรอปิคอลโอบล้อมและสายน้ำตกที่งดงามน่าอัศจรรย์ใจ นอกจากนั้น ยังบริการห้องพักหลากหลายสไตล์ ที่ล้วนมีพื้นที่ใช้สอยขนาดใหญ่
            ที่สามารถมอบความสะดวกสบายได้อย่างเต็มที่-->
        </div>
    </div>
</body>

</html>