<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>INN Project</title>
    <!-- add icon link -->
    <link rel="icon" href="img/01.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="css/data.css">
    <link rel="stylesheet" href="css/contact.css">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
</head>

<body>

    <div class="content">
        <!-- From https://grandecentrepointpattaya.com/-->
        <h3 class="topic">Contact</h3>
    </div>
    <div class="BGtxt">
        <div class="content">
            <u>Address</u>
            <div style="margin-left: 45px; font-size: 21px;">
                <p>513/1 M.2 Pattaya, Chonburi, Thailand 20150</p>
                <img src="images/svg/R_phone.svg">
                <p class="text">+66 45 513 221</p>
                <img src="images/svg/C_mail.svg">
                <p class="text">hotel@project.com</p>
            </div>

            <br></br>

            <u>Reservations Department</u>
            <div style="margin-left: 45px; font-size: 21px; ">
                <img src="images/svg/R_phone.svg">
                <p class="text">+66 45 513 221 Ext. 5123</p>
                <img src="images/svg/C_mail.svg">
                <p class="text">rsvn_hotel@project.com</p>
            </div>
        </div>
    </div>
</body>

</html>