<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>INN Project</title>
    <!-- add icon link -->
    <link rel="icon" href="img/01.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="css/data.css">
    <link rel="stylesheet" href="css/room.css">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
    <style>
        .card-1 {
            background-image: url(images/single03.jpg);
        }

        .card-2 {
            background-image: url(images/suite04.jpg);
        }

        .card-3 {
            background-image: url(images/cabin02.jpg);
        }
    </style>
</head>

<body>

    <div class="content">
        <h3 class="topic">Room</h3>
    </div>
    <div  class="BGtxt">
        <div class="content">
            <p >That our hotel There are many rooms for customers to choose according to their needs. With each room that has
                it Our hotel has carefully selected and improved to suit all ages and genders.</p>
            <!--ทางโรงแรมของเรานั้น มีหลากหลายห้องให้ทางลูกค้าได้ เลือกตามความต้องการ โดยแต่ละห้องที่มีนั้น ทางโรงแรมของเราได้คัดสรรและปรับปรุงให้เหมาะสมกับทุกเพศ ทุกวัยแล้ว-->
        </div>
        <section class="container">
            <div class="card">
                <div class="card-image card-1"></div>
                <p class="mainroom">SINGLE ROOM</p>
                <p>Our Standard Rooms are the perfect combination of function and comfort. </p>
                <a target="_blank" href="singleroom.html">MORE</a>
                <!--<button id="B_single">MORE</button>-->
    
            </div>
    
            <div class="card">
                <div class="card-image card-2"></div>
                <p class="mainroom">SUIT ROOM</p>
                <p>Our Suites are the perfect option if you’re looking for a little extra luxury.</p>
                <a target="_blank" href="suitroom.html">MORE</a>
            </div>
            <div class="card">
                <div class="card-image card-3"></div>
                <p class="mainroom">CABIN</p>
                <p>Our Cabins Rooms give you the space and privacy you need to work or play.</p>
                <a target="_blank" href="cabin.html">MORE</a>
            </div>
            <!-- POPUP
            <div id="M_single" class="modal">
                <div class="modal-content">
                    <span class="close1">&times;</span>
                    <iframe style="width: 100%; height: 100%; border: none;" src="singleroom.html"></iframe>
                </div>
            </div>
            <script src="javascript/popup.js"></script>
            -->
    
        </section>
    </div>
    
</body>

</html>