@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');

*
{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
header .logo {
    cursor: pointer;
    margin-right: auto;
}

.logo a {
    text-transform: uppercase;
    color: #FAB23D;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-left: 10px;
}

header .fas {
    font-size: 35px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.io {
    text-align: center;
    font-size: medium;
}

header .tabbar:hover {
    background-color: #FAB23D;
    border-radius: 10px;
    color: black;
}

header .navbar {
    background-color: #3B3F46;
    display: flex;
    top: 0;
    left: 0;
    padding: 6px 3px;
    width: 100%;
    height: 85px;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

header ul {
    margin: 0;
    padding: 10px 5px;
    display: flex;
    text-align: center;
}

header .tabbar {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 5px;
    width: 85px;
}

header ul li {
    list-style: none;
    margin-left: 50px;
}

header ul li a {
     text-decoration: none;
     color: white;
     display: block;
     text-align: center;
     margin: 0 5px;
     font-size: 15px;
     font-weight: 500;
}

button {
    display: block;
    background-color: #FAB23D;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 19px;
    margin-right: 20px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background-color: #fab13db4;
    color: black;
}

header.menubar{
    display: none;
}

@media (max-width: 840px) {
    header .navbar {
        padding: 2px 1px;
    }

    ul .fas {
        display: none;
    }

    header ul li a {
        font-size: 17px;
        margin: 2px 3px;
    }

    header .tabbar {
        padding: 10px 0;
        margin-top: 3px;
        margin-right: 5px;
        width: 90px;
    }

        header .tabbar:hover {
            border-radius: 100px;
        }

    .logo a {
        font-size: 25px;
    }

    button {
        margin-top: 9px;
    }
}

@media (max-width: 760px) {
    header .navbar {
        padding: 20px 15px;
    }

    header .menubar {
        display: block;
        width: 35px;
        margin: 10px 10px;
        text-align: center;
    }

    header .menubar:hover {
        border-radius: 15px;
        background-color: #fab13df1;
    }

    header ul {
        display: none;
    }

    .logo a {
        font-size: 30px;
    }
}

section .posttext {
    position: relative;
    top: 540px;
    left: 40px;
    margin-right: 5px;
    margin-top: 15px;
}

section .fas {
    color: #FAB23D;
    font-size: 35px;
    margin: 8px 8px;
    display: inline;
}

.posttext p
{
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 10px;
    display: inline;
}