@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');
/** {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
    width: 100vw;
    min-width: 100vw;
}

.box-post {
    box-shadow: 0px 7px 13px 4px rgba(17, 11, 11, 0.08);
    margin-right: 20px;
    margin-left: 20px;
    background-color: #e9e9e9;
    /*background-color: #b9b9b9;*/
}

form {
    padding: 10px 70px;
}

label {
    padding-top: 10px;
}

h2 {
    background-color: #3B3F46;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px 45px 5px;
}

input[type=submit] {
    padding: 10px 5px 10px 5px;
    outline: none;
    border: none;
    background-color: #FAB23D;
    font-size: 17px;
    border: 2px solid #FAB23D;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    border: 2px solid #FAB23D;
    background-color: white;
    color: #FAB23D;
}

input[type=text]:focus {}

@media (max-width: 425px) {
    form {
        padding: 0 20px;
    }
    .box-post {
        max-width: 290px;
    }
}

select{
    width: 100%;
    margin-bottom: 5px;
}
.form-check-label {
    margin-right: 30px;
}

.fa-poll {
    color: #FAB23D;
    font-size: 25px;
    position: absolute;
    top: 48px;
    left: 8px;
}

.details {
    position: relative;
}

.post-check {
    margin: 10px 0;
}

input[type=radio] {
    outline: none;
    border: none;
}

input[type=radio]:checked {
    background-color: #FAB23D;
}

.details textarea {
    padding-top: 35px;
    padding-left: 10px;
    letter-spacing: 0.8px;
    font-size: 15px;
}

textarea::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #686b70;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #FAB23D;
}