@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');
/** {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
    width: 100vw;
    min-width: 100vw;
}

.box-post {
    box-shadow: 0px 7px 13px 4px rgba(17, 11, 11, 0.08);
    margin-right: 20px;
    margin-left: 20px;
    background-color: #e9e9e9;
}

form {
    
    padding: 10px 70px;
}

label {
    padding-top: 10px;
}

h2 {
    background-color: #3B3F46;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px 45px 5px;
}

input[type=submit] {
    padding: 10px 5px 10px 5px;
    outline: none;
    border: none;
    background-color: #FAB23D;
    font-size: 17px;
    border: 2px solid #FAB23D;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    border: 2px solid #FAB23D;
    background-color: white;
    color: #FAB23D;
}

input[type=text]:focus {}

@media (max-width: 425px) {
    form {
        padding: 0 20px;
    }
    .box-post {
        max-width: 290px;
    }
}
select{
    width: 100%;
    margin-bottom: 5px;
}