@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align:top text-top;
  }
  nav {
    background: #222;
    padding-left: 15px;
    margin-bottom: -18px;
  }
  a {
    color: #FAB23D;
    text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 10px 0px 0px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 20px;
  }
  .item {
    padding: 10px;
    padding-bottom: -20px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 10px 15px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: #FAB23D;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  .navTitle{
   font-size: 20px; 
   font-weight:normal;
   margin-left: 10px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      /*margin: 5px 0;*/
    }
    .button a {
      border: 3px solid #FAB23D;
    }
    .button.secondary {
      border: 0;
    }/*
    .button.secondary a {
      background: transparent;
      border: 1px #1e6e3d solid;
    }*/
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #FAB23D;
      border-color: #FAB23D;
      color: white;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
    .navTitle{
      display: none;
    }
  }

  .logonav:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .usernav{
      border: 3px solid #FAB23D;
      border-radius: 20px;
      font-weight: bold; 
  }
  .usernav:hover{
    background-color: #FAB23D;
  }
.loginnav{
    font-weight: bold;
    border: 3px solid #FAB23D;
}
.logoutnav{
  border: 3px solid #FAB23D;
  margin: 10px;
}
.logoutnav:hover{
  color: rgb(255, 255, 255);
    text-decoration: none;
  background-color: #FAB23D;
}
.iconnav{
    color: #FAB23D;
    font-size: 32px;
    /*margin-top: -5px;*/
    margin-bottom: -20px;
    padding-bottom: -10px;
    margin-right: -10px;
}
.iconnav:hover, .icontog:hover{
  color: #ffffff;
  text-decoration: none;
}
.loginnav:hover{
  background-color: #FAB23D;
  color: #ffffff;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.number{
  height: fit-content;/*20px;*/
  width:  fit-content;/*20px;*/
  background-color: #d63031;
  /*border: 1px solid #ececec;*/
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  padding: 3px;
  margin-left: 20px;
  margin-top: -35px;
  font-size: x-small;
}

.number:empty {
   display: none;
}

.Texthide{
  color: transparent;
}