@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

.logo a {
    text-transform: uppercase;
    color: #FAB23D;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-left: 10px;
}

header .fas {
    font-size: 35px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.io {
    text-align: center;
    font-size: medium;
}

header .tabbar:hover {
    background-color: #FAB23D;
    border-radius: 10px;
    color: black;
}

header .navbar {
    background-color: #3B3F46;
    display: flex;
    top: 0;
    left: 0;
    padding: 6px 3px;
    width: 100%;
    height: 85px;                   /*Change 9%*/
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.searchbox {
    font-size: 20px;
    padding: 10px 15px;
    height: 40px;
    width: 60px;
    border-radius: 25px;
    border-color: #FAB23D;
    position: absolute;
    top: 10px;
    right: 220px;
    transition: width 1s ease;
    cursor: pointer;
}

.searchbox .fas {
    padding: 8px 5px;
    position: absolute;
    right: 210px;
}

.searchbox a {
    position: absolute;
    right: 250px;
    top: 60px;
}

header ul {
    margin: 0;
    padding: 10px 5px;
    display: flex;
    text-align: center;
}

header .tabbar {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 5px;
    width: 85px;
}

header ul li {
    list-style: none;
    margin-left: 50px;
}

header ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 500;
}

button {
    display: block;
    background-color: #FAB23D;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 19px;
    margin-right: 20px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}

 button:hover {
    background-color: #fab13db4;
    color: black;
 }

header.menubar {
    display: none;
}

@media (max-width: 840px) {
    header .navbar {
        padding: 2px 1px;
    }

    ul .fas {
        display: none;
    }

    header ul li a {
        font-size: 17px;
        margin: 2px 3px;
    }

    header .tabbar {
        padding: 10px 0;
        margin-top: 3px;
        margin-right: 5px;
        width: 90px;
    }

        header .tabbar:hover {
            border-radius: 100px;
        }
/*
    .logo a {
        font-size: 25px;
    }*/

    button {
        margin-top: 9px;
    }
}

@media (max-width: 760px) {
    header .navbar {
        padding: 20px 15px;
    }

    header .menubar {
        display: block;
        width: 35px;
        margin: 10px 10px;
        text-align: center;
    }

    header .menubar:hover {
        border-radius: 15px;
        background-color: #fab13df1;
    }

    header ul {
        display: none;
    }

    .logo a {
        font-size: 30px;
    }
}

section .posttext {
    position: relative;
    top: 530px;
    left: 40px;
    margin-right: 5px;
    margin-top: 20px;
    display: table;
}

.posttext .fas {
    color: #FAB23D;
    font-size: 35px;
    margin: 8px 8px;
    display: inline;
}

.posttext p {
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline;
}

section .banner {
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0px;
    resize: horizontal;
}

section .postbtn {
    position: relative;
    height: 90px;
    left: 96px;
    top: 540px;
    display: block;
    cursor: pointer;
    background-color: #3B3F46;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 86%;
    padding: 15px;
}

.postbtn .fas {
    color: white;
    display: inline;
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

section .postbtn a {
    color: white;
    text-decoration: none;
    text-align: inherit;
    font-size: 24px;
    display: inline;
}

section .postbtn h1 {
    color: #FAB23D;
    font-size: 16px;
    position: absolute;
    left: 70px;
    margin-top: 10px;
    top: 40px;
    font-weight: 100;
}

section .postbtn p {
    color: #FAB23D;
    font-size: 16px;
    position: absolute;
    top: 75px;
    left: 70px;
    font-weight: 600;
}

.commentfa .far {
    color: white;
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 45px;
}

section .commentfa h3 {
    color: white;
    font-size: 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-weight: 200;
}

.blank {
    position: absolute; 
    top: 2030px; 
    color:white;
}

@media (max-width: 840px) {
    section .banner {
        width: 100%;
    }
    section .posttext{
        position: relative;
        top: 340px;
        left: 20px;
        margin-top: 5px;
    }
    section .postbtn {
        position: relative;
        top: 350px;
        left: 65px;
        max-width: 78%;
        margin-top: 10px;
    }
    .blank {
        position: absolute;
        top: 1800px;
    }
}

    /* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}