/*From https://codepen.io/JLop007/pen/YBeePx*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a,a:visited,a:hover,a:active{
	text-decoration: none;
	color: rgb(255,255,255);
    margin: 18px;
}

header{
	width: 100%;
	position: relative;
    overflow: hidden;
	font-weight: 500;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: rgb(255,255,255);
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	font-weight: 350;
}

.brand span{
	color: rgb(58, 134, 255);
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li:nth-child(6){
	animation-delay: 2.5s;
}
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: rgb(58, 134, 255);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  	display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
	  background: black;
  }
  
}
a.loginnav,a.loginnav:visited{
	text-decoration: none;
	color: rgb(255,255,255);
    text-decoration:none;
    border: 4px solid rgb(255,255,255);
    margin: 10px;
    padding: 10px;
}
a.loginnav:hover , a.loginnav:active{
    color: rgb(0, 0, 0);
    text-decoration:none;
    background-color: rgb(255,255,255);
}
a.loginnav::before,
a.loginnav::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(255,255,255); 
    opacity: 0;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}
.BG{
	background: #4f4f4f;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: transparent; 
  }